{% load staticfiles %}
<html>
  <head>
    <title>Sign Into The Dash Board</title>
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "css/signin.css" %}" rel="stylesheet">
    <script src="{% static "js/jquery-1.12.1.min.js" %}" rel="stylesheet"></script>
    <script src="{% static "js/bootstrap.js" %}" rel="stylesheet"></script>
  </head>
  <body>
    <div class="nav-main">
    </div>
    <div class="container">
      <form class="main-form" action="/signup/" method="post">
        {% if request.GET.learningSuiteFail %}
          <div class="alert alert-danger signin-warning">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            Looks like your Username and Password where invalid
          </div>
        {% endif %}
        <div class="form-signin">
          <h2 class="form-signin-heading">Sign in</h2>
          <label for="inputEmail" class="sr-only">Net ID</label>
          <input type="text" id="inputEmail" name="netid" class="form-control" placeholder="Net ID" autofocus>
          <label for="inputPassword" class="sr-only">Password</label>
          <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password">
          {% csrf_token %}
          <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        </div>
      </form>
      <h4 class="form-disclaimer-heading">Disclaimer</h4>
      <div class="container disclaimer-container">
        <p>TODO:AddDisclaimer</p>
      </div>
    </div>
  </body>
</html>
